<header class="header">
  <div class="header__left">
    <button class="menu-button">☰</button>
  </div>
  <div class="header__right">
    <%= link_to "ログイン", "#", class: "header__link" %>
    <%= link_to "新規登録", "#", class: "header__link" %>
  </div>

  <%= render "shared/menu_bar" %>
</header>