<div class="flex flex-col items-center justify-center py-6 w-full h-full">
  <div class="max-w-4xl w-full space-y-8 h-full">
    <div id="conversation" class="space-y-4 p-4 rounded overflow-y-auto">
    </div>
    <form id="text_form" class="flex items-center px-2 py-1 border-t border-gray-200 bg-white">
      <input type="text" placeholder="入力してください" id="user_input" class="flex-1 px-3 py-2 border rounded border-gray-300 focus:border-blue-500 focus:outline-none focus:ring">
      <button id="button_post" class="px-4 py-2 bg-green-500 text-white rounded-md transition duration-300 ease-in-out hover:bg-green-600 focus:outline-none focus:ring focus:ring-green-200 ml-2">送信</button>
    </form>
  </div>
</div>
<div id="character-icon-paths"
    data-cat="<%= image_path('cat_icon.png') %>"
    data-oldman="<%= image_path('oldman_icon.png') %>"
    data-alien="<%= image_path('alien_icon.png') %>"></div>